html {
  scroll-behavior: smooth;
}


/*NAVEGACION*/
/* Estilos generales del encabezado */
nav {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
}

/* Estilos para el contenedor principal */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del logo */
.logo img {
  width: 150px;
  height: auto;
  background-color: #000000;
  border-radius: 5%;
  /* Define un radio de esquinas de 5px */
  border: 5px solid rgb(255, 153, 0);
  /* Define un borde de 1px sólido de color blanco */
}

.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  /* Color negro */
}

.logo:hover {
  color: orange; /* Color naranja al pasar el cursor */
}

#loginBtn {
  color: black; /* Color negro */
  transition: color 0.3s; /* Transición de color */
}

#loginBtn:hover {
  color: orange; /* Color naranja al pasar el cursor */
}

    .custom-dropdown-toggle {
        background-color: black; /* Color de fondo */
        color: white; /* Color de texto */
        transition: background-color 0.3s, color 0.3s; /* Transición de color */
    }

    .custom-dropdown-toggle:hover {
        background-color: orange; /* Color de fondo al pasar el cursor */
        color: black; /* Color de texto al pasar el cursor */
    }

/* Estilos del nombre del restaurante */
.restaurant-info .restaurant-name {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  padding-left: 5px;
}

/* Estilos para el enlace */
.ruta {
  display: flex;
  align-items: center;
  /* Centrar verticalmente los elementos */
  text-decoration: none;
  /* Eliminar la decoración de texto */
  color: inherit;
  /* Heredar el color del texto */
  gap: 20px;
}





/*MENU*/

.main-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 70%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex: 1;
  /* Esto permitirá que el contenedor crezca y ocupe el espacio disponible */
  padding-right: 20px;
  /* Ajusta para dar espacio entre las columnas si es necesario */
  overflow-y: auto;
}

.navigation-tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

/*COLUMNA IZQUIERDA*/

.tabs-list {
  padding-left: 0;
}

.tab-element {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Urbanist;
}

.tab-element:hover {
  background-color: #ff7300;
  border-radius: 5%;
}

.tabs-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  /* Ajustar si es necesario para el espacio entre columnas */
  padding: 10px;
  /* Ajustar según sea necesario */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  margin-top: 10px;
  /* Reducido el margen superior */
}


.footer-sticky {
  position: sticky;
  bottom: 0;
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.column-side.flex-small {
  width: 30%;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}



.menu-item {
  width: 100%;
  /* O el porcentaje que se ajuste mejor a tu diseño */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  /* Reducir para disminuir el espacio entre elementos */
  border-radius: 10px;
}

.image-column {
  flex: 0 0 120px;
  /* Ancho fijo para la columna de imagen */
  margin-right: 20px;
  /* Espacio entre imagen y contenido */
  height: 100%;
}

.menu-item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  image-rendering: auto;
}

.info-column {
  flex: 1;
  /* Toma el espacio restante */
  padding: 5px;
}

.menu-item-header {
  display: flex;
  flex-direction: column;
  /* Organiza los elementos en columna */
  width: 100%;
  /* Fuerza al contenedor a ocupar todo el ancho */
}

.menu-item-title {
  font-size: 1.4em;
  color: #333;
  margin: 0 0 5px 0;
  /* Margen debajo del título */
  font-weight: bold;
  /* Título en negrita */
}

.menu-item-price-action {
  display: flex;
  align-items: center;
  /* Alinea el precio y el botón verticalmente */
  gap: 5px;
}

.price {
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
  border-radius: 5px;
  /* Bordes redondeados del precio */
}

.menu-item-description {
  font-size: 0.9em;
  color: #666;
  margin-top: 8px;
  /* Espacio encima de la descripción */
}

.menu-item-icons {
  display: flex;
  gap: 10px;
  /* Espacio entre íconos */
  margin-top: 8px;
  /* Espacio encima de los íconos */
}

.menu-item-icons img {
  width: 24px;
  /* Tamaño de los íconos */
  height: auto;
}


/*COLUMNA DERECHA*/
.order-column {
  width: 30%;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  
}

.order-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f8f9fa;
}

.order-title {
  margin-left: 10px;
  font-weight: bold;
}

.order-minimum {
  display: flex;
  justify-content: center;
}

.alert {
  background-color: #fff3cd;
  /* Color de fondo */
  color: #856404;
  /* Color del texto */
  border-color: #ffeeba;
  /* Color del borde */
  border-radius: 0.5rem;
  /* Borde redondeado */
  padding: 1rem;
  /* Espaciado interno */
  margin-bottom: 1rem;
  /* Margen inferior */
  font-size: 1.2rem;
  /* Tamaño del texto */
}

.alert span {
  font-weight: bold;
  /* Texto en negrita */
}

.alert i {
  margin-right: 1rem;
  /* Espaciado a la derecha del ícono */
}




.order-content {
  height: 80vh; /* Limita la altura máxima del contenido */
  flex-direction: column; /* Cambia la dirección principal a una columna */
  align-items: stretch; /* Ajusta los elementos a lo largo del eje transversal */
  padding: 1rem; /* Añade relleno al contenido */
  display: flex;
  gap: 30px;

}


.order-logo img {
  max-width: 100%;
  height: auto;
  background-color: black;
}

.order-empty {
  margin-top: 20px;
  color: #666;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.order-items {
  /* Agregado para permitir una barra de desplazamiento */
  max-height: 300px;
  /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
}

.order-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  height: 7vh;
}

.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total-amount {
  font-weight: bold;
  /* Resalta el monto total */
}

.btnConf {
  display: flex;
  flex-direction: column;
}

.confirm-order {
  background-color: #007bff;
  /* Color de fondo del botón */
  color: #fff;
  /* Color del texto */
  padding: 10px 20px;
  /* Espacio interno del botón */
  border: none;
  /* Sin borde */
  border-radius: 5px;
  /* Borde redondeado */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Efecto de transición suave para el color de fondo */
}

.confirm-order:hover {
  background-color: #0056b3;
  /* Color de fondo del botón al pasar el cursor sobre él */
}





/* Utiliza media queries para hacer la página responsive */
@media (max-width: 800px) {
  .main-wrapper {
    flex-direction: column;
  }

  .flex-container {
    width: 100%;
  }

  .column-side.flex-small {
    width: 100%;
    margin-top: 20px;
    border-left: none;
    padding-left: 0;
  }

  .order-column {
    width: 100%;
  }

  .tabs-list {
    display: flex;
  }

}