html {
  scroll-behavior: smooth;
}


/*NAVEGACION*/
/* Estilos generales del encabezado */
nav {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Estilos para el contenedor principal */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

/* Estilos del logo */
.logo img {
  width: 150px;
  height: auto;
  background-color: #000000;
  border-radius: 5%;
  /* Define un radio de esquinas de 5px */
  border: 5px solid rgb(255, 153, 0);
  /* Define un borde de 1px sólido de color blanco */
}

.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  /* Color negro */
}

.logo:hover {
  color: orange;
  /* Color naranja al pasar el cursor */
}

#loginBtn {
  color: black;
  /* Color negro */
  transition: color 0.3s;
  /* Transición de color */
}

#loginBtn:hover {
  color: orange;
  /* Color naranja al pasar el cursor */
}

.custom-dropdown-toggle {
  background-color: black;
  /* Color de fondo */
  color: white;
  /* Color de texto */
  transition: background-color 0.3s, color 0.3s;
  /* Transición de color */
}

.custom-dropdown-toggle:hover {
  background-color: orange;
  /* Color de fondo al pasar el cursor */
  color: black;
  /* Color de texto al pasar el cursor */
}

/* Estilos del nombre del restaurante */
.restaurant-info .restaurant-name {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  padding-left: 5px;
}

/* Estilos para el enlace */
.ruta {
  display: flex;
  align-items: center;
  /* Centrar verticalmente los elementos */
  text-decoration: none;
  /* Eliminar la decoración de texto */
  color: inherit;
  /* Heredar el color del texto */
  gap: 20px;
}


/*FOOTER*/

#siteFooter {
  background-color: #333;
  /* Color de fondo del footer */
  color: #fff;
  /* Color del texto del footer */
  padding: 20px;
  /* Espaciado interno */
  text-align: center;
  /* Alineación del texto */
  width: 68%;
}



.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* Espacio entre los enlaces */
  padding-bottom: 20px;
  /* Espaciado debajo de los enlaces */
}

.footer-links a {
  color: #fff;
  /* Color del texto de los enlaces */
  text-decoration: none;
  /* No subrayar los enlaces */
  transition: color 0.3s;
  /* Transición suave para el color */
}

.footer-links a:hover {
  color: #f79e02;
  /* Color del texto de los enlaces al pasar el ratón */
}

hr {
  border: 0;
  /* Remover el borde predeterminado */
  height: 1px;
  /* Altura de la línea */
  background-color: #777;
  /* Color de la línea */
  margin: 20px 0;
  /* Margen arriba y abajo de la línea */
}

.last-part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-branding {
  margin-bottom: 20px;
  /* Espaciado debajo del logo */
}

.footer-language-selector {
  margin-top: 20px;
  /* Espaciado arriba del selector de idioma */
  color: white;
}

#language-select option {
  color: black;
  /* Asegura que las opciones sean negras */
  background: white;
  /* Fondo claro para contraste */
}

#language-select {
  background: transparent;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
}


@media (max-width: 430px) {
  .logo img {
    display: none;
  }

  .nav-content{
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }
} 