#language-switcher {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

#language-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    bottom: calc(100% + 5px); /* Ajusta la posición del menú desplegable */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

#language-switcher.show .dropdown-menu {
    display: block;
}
