
/*TERMINOS y PRIVACIDAD*/
main {
    width: 90%;
    max-width: 1000px; /* Aumenta para un ancho mayor */
    margin: 40px auto; /* Aumenta el margen superior e inferior */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: auto; /* Asegura el desplazamiento si el contenido es muy largo */
}
h2 {
    color: #f37805; /* Cambia al color deseado */
    padding: 10px 15px; /* Espacio alrededor del texto del título */
    margin: 20px 0; /* Espacio antes y después del título */
    font-family: 'Sedgwick Ave', cursive;
    font-size: 35px;
}
h3 {
    color: #f37805; /* Para los títulos de subsección */
    margin-top: 30px; /* Más espacio antes de cada subsección */
    font-size: 25px;
}
p {
    text-align: justify;
    line-height: 1.8; /* Espacio más amplio entre líneas para mejorar la legibilidad */
    margin: 10px 0 20px; /* Espacio antes y después de cada párrafo */
    color: #fff;
    font-size: 20px;
}


