/*HEADER-COOKIES*/

.cookies-msg .cookies-header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px; /* Añade espacio entre el encabezado y el texto */
  gap: 5px;
}

.cookies-msg .cookies-icon {
  height: auto;
  margin-right: 20px; /* Añade espacio entre el icono y el título */

}

.cookies-msg .cookies-title {
  margin: 0;
  font-size: 30px; /* O el tamaño que prefieras */
  color: #004a99; /* Elige un color que combine con tu sitio */
}

/*BODY-COOKIES*/

.cookies-msg {
  max-width: 500px;
  background-color: #f8f9fa; 
  color: #343a40; 
  position: fixed;
  bottom: 20px; /* Espaciado desde la parte inferior de la pantalla */
  left: 15%; /* Centrar en la pantalla */
  transform: translateX(-50%); /* Ajuste para centrar el mensaje */
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra sutil */
  padding: 20px; /* Espaciado interior */
  display: flex; /* Uso de flexbox para alinear los elementos internos */
  flex-direction: column; /* Los elementos se organizan en columna */
  align-items: center; /* Centrado horizontal */
  justify-content: center; /* Centrado vertical */
  z-index: 1000; /* Asegura que se muestre sobre otros elementos */
}

.cookies-msg .cookies-txt p {
  margin-bottom: 15px; /* Espacio entre el texto y los botones */
  font-size: 16px; 
  text-align: left; 
  line-height: 1.5; /* Espaciado entre líneas para legibilidad */
}

.cookies-msg .cookies-btn {
  display: flex; 
  gap: 10px; 
}

.cookies-msg .cookies-btn button {
  flex: 1; /* Los botones ocuparán un espacio igual en el contenedor */
  padding: 10px;
  border: none; /* Eliminar bordes predeterminados */
  border-radius: 5px; /* Bordes redondeados para los botones */
  font-weight: bold; /* Fuente en negrita para los botones */
  cursor: pointer; /* Cursor en forma de mano al pasar sobre los botones */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/*BOTONES COOKIES*/

.cookies-msg .cookies-btn #aceptar {
  background-color: #004a99; /* Color azul para el botón 'Aceptar' */
  color: #ffffff; /* Texto blanco para el botón 'Aceptar' */
}


.cookies-msg .cookies-btn #rechazar {
  background-color: #6c757d; /* Color gris para el botón 'Rechazar' */
  color: #ffffff; /* Texto blanco para el botón 'Rechazar' */
}

/* Efecto al pasar el ratón por encima de los botones */
.cookies-msg .cookies-btn button:hover {
  background-color: darken(#004a99, 10%); 
  background-color: darken(#6c757d, 10%); 
}

.cookies-msg.mostrar {
  display: flex; 
}

.cookies-msg.ocultar {
  display: none; 
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .cookies-msg {
    width: 90%;
    padding: 15px;
  }

  .cookies-msg .cookies-txt p {
    font-size: 14px;
  }

  .cookies-msg .cookies-btn button {
    padding: 8px;
    font-size: 14px;
  }
}