/*COMITE DE EMPRESA*/
@media (max-width:430px) {

    .navigation-tabs {
        display: none;
    }


}

/*COMITE DE EMPRESA*/
@media (max-width:425px) {

    .tabs-list {
        display: none;  
    }

    .navigation-bar {
        display: none;
    }
}